<a href="https://colab.research.google.com/github/Ayan2002ghosh/msph306/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy -  multidimensional data arrays

## Introduction

The `numpy` package (module) is used in almost all numerical computation using Python. It is a package that provide high-performance vector, matrix and higher-dimensional data structures for Python.

To use `numpy` you need to import the module, using for example:

In [ ]:
import numpy as np

Here, we have imported the numpy module into its own namespace in our programs. We have chosen to call this namespace `np`, which is the standard rule for using `numpy`, but any name will do, in principle.

In the `numpy` package the terminology used for vectors, matrices and higher-dimensional data sets is *array*.

## Creating `numpy` arrays

There are a number of ways to initialize new numpy arrays, for example from

* a Python list or tuples
* using functions that are dedicated to generating numpy arrays, such as `arange`, `linspace`, etc.
* reading data from files

### From lists

For example, to create new vector and matrix arrays from Python lists we can use the `numpy.array` function.

In [ ]:
# a vector: the argument to the array function is a Python list
v = np.array([1,2,3,4])

v

array([1, 2, 3, 4])

In [ ]:
# a matrix: the argument to the array function is a nested Python list
M = np.array([[1, 2], [3, 4]])

M

array([[1, 2],
       [3, 4]])

The `v` and `M` objects are both of the type `ndarray` that the `numpy` module provides.

In [ ]:
type(v), type(M)

(numpy.ndarray, numpy.ndarray)

The difference between the `v` and `M` arrays is only their shapes. We can get information about the shape of an array by using the `ndarray.shape` property.

In [ ]:
v.shape

(4,)

In [ ]:
M.shape

(2, 2)

The number of elements in the array is available through the `ndarray.size` property:

In [ ]:
M.size

4

If we want, we can explicitly define the type of the array data when we create it, using the `dtype` keyword argument:

In [ ]:
M = np.array([[1, 2], [3, 4]], dtype=complex)

M

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

Note that python uses 'j' to denote $\sqrt{-1}$ instead of the usual $i$. This is so that programmers can use the letter 'i' for other things. Complex numbers can be handled seamlessly in python.

### Exercise 01:

   1. In the code cell below, create a list of the numbers $1,2,3,4, \dots 10,000$ and call it 'a'. Then, Convert it to a numpy array and use array programming to multiply all the numbers by $2$ and output the result.
   2. Use the code cell below and use numpy to build the three Pauli matrices. use the 'print()' function to show the output.

In [6]:
L = list(range(1, 10001))
a = np.array(L)
a * 2

array([    2,     4,     6, ..., 19996, 19998, 20000])

In [5]:
import numpy as np

sigma_x = np.array([[0, 1], [1, 0]])
sigma_y = np.array([[0, -1j], [1j, 0]])
sigma_z = np.array([[1, 0], [0, -1]])

print(sigma_x)
print(sigma_y)
print(sigma_z)

[[0 1]
 [1 0]]
[[ 0.+0.j -0.-1.j]
 [ 0.+1.j  0.+0.j]]
[[ 1  0]
 [ 0 -1]]

### Using array-generating functions

For larger arrays it is impractical to initialize the data manually, using explicit python lists. Instead we can use one of the many functions in `numpy` that generate arrays of different forms. Some of the more common are:

#### arange

In [ ]:
# create a range
x = np.arange(0, 24, 1) # arguments: start, stop, step
display(x)

y = np.arange(9)
display(y)

z = np.arange(0, 20, 2)
display(z)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

**Note:** This function is called 'a-range' (the letter 'a' followed by 'range') and typed `arange` (with a single 'r'). **It is not called `arrange`** (with two 'r's), a common mistake.

The linspace() and logspace() functions create uniformly spaced list of numbers on a line. The first function does it on a linear scale, and the second function on a log-scale.

In [ ]:
# using linspace, both end points ARE included
np.linspace(0, 10, 25)

array([ 0.        ,  0.41666667,  0.83333333,  1.25      ,  1.66666667,
        2.08333333,  2.5       ,  2.91666667,  3.33333333,  3.75      ,
        4.16666667,  4.58333333,  5.        ,  5.41666667,  5.83333333,
        6.25      ,  6.66666667,  7.08333333,  7.5       ,  7.91666667,
        8.33333333,  8.75      ,  9.16666667,  9.58333333, 10.        ])

In [ ]:
np.logspace(0, 10, 10, base=np.e)

array([1.00000000e+00, 3.03773178e+00, 9.22781435e+00, 2.80316249e+01,
       8.51525577e+01, 2.58670631e+02, 7.85771994e+02, 2.38696456e+03,
       7.25095809e+03, 2.20264658e+04])

### Exercise 02:

1. Using numpy, create a list of all even numbers from $1 - 100$. Also, create a list of all odd numbers in the same range, as well as a list of multiples of $4$.
2. Create an array of $100$ uniformly spaced numbers in the interval $\left[-\pi , \pi\right]$.  The value of $\pi$ can be gotten from `np.pi`.

In [7]:
import numpy as np

even_numbers = np.arange(2, 101, 2)
odd_numbers = np.arange(1, 100, 2)
multiples_of_4 = np.arange(4, 101, 4)

print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)
print("Multiples of 4:", multiples_of_4)
uniformly_spaced_numbers = np.linspace(-np.pi, np.pi, 100)
print("Uniformly spaced numbers:", uniformly_spaced_numbers)

Even numbers: [  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100]
Odd numbers: [ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]
Multiples of 4: [  4   8  12  16  20  24  28  32  36  40  44  48  52  56  60  64  68  72
  76  80  84  88  92  96 100]
Uniformly spaced numbers: [-3.14159265 -3.07812614 -3.01465962 -2.9511931  -2.88772658 -2.82426006
 -2.76079354 -2.69732703 -2.63386051 -2.57039399 -2.50692747 -2.44346095
 -2.37999443 -2.31652792 -2.2530614  -2.18959488 -2.12612836 -2.06266184
 -1.99919533 -1.93572881 -1.87226229 -1.80879577 -1.74532925 -1.68186273
 -1.61839622 -1.5549297  -1.49146318 -1.42799666 -1.36453014 -1.30106362
 -1.23759711 -1.17413059 -1.11066407 -1.04719755 -0.98373103 -0.92026451
 -0.856798   -0.79333148 -0.72986496 -0.66639844 -0.60293192 -0.53946541
 -0.47599889 -0.41253237 -0.34906585 -0.28559933 -0.22213281 -0.1586663
 -0.09519978 -0.03173326  0.03173326  0.09519978  0.1586663   0.22213281
  0.28559933  0.34906585  0.41253237  0.47599889  0.53946541  0.60293192
  0.66639844  0.72986496  0.79333148  0.856798    0.92026451  0.98373103
  1.04719755  1.11066407  1.17413059  1.23759711  1.30106362  1.36453014
  1.42799666  1.49146318  1.5549297   1.61839622  1.68186273  1.74532925
  1.80879577  1.87226229  1.93572881  1.99919533  2.06266184  2.12612836
  2.18959488  2.2530614   2.31652792  2.37999443  2.44346095  2.50692747
  2.57039399  2.63386051  2.69732703  2.76079354  2.82426006  2.88772658
  2.9511931   3.01465962  3.07812614  3.14159265]

In [8]:
import numpy as np
uniformly_spaced_numbers = np.linspace(-np.pi, np.pi, 100)
uniformly_spaced_numbers

array([-3.14159265, -3.07812614, -3.01465962, -2.9511931 , -2.88772658,
       -2.82426006, -2.76079354, -2.69732703, -2.63386051, -2.57039399,
       -2.50692747, -2.44346095, -2.37999443, -2.31652792, -2.2530614 ,
       -2.18959488, -2.12612836, -2.06266184, -1.99919533, -1.93572881,
       -1.87226229, -1.80879577, -1.74532925, -1.68186273, -1.61839622,
       -1.5549297 , -1.49146318, -1.42799666, -1.36453014, -1.30106362,
       -1.23759711, -1.17413059, -1.11066407, -1.04719755, -0.98373103,
       -0.92026451, -0.856798  , -0.79333148, -0.72986496, -0.66639844,
       -0.60293192, -0.53946541, -0.47599889, -0.41253237, -0.34906585,
       -0.28559933, -0.22213281, -0.1586663 , -0.09519978, -0.03173326,
        0.03173326,  0.09519978,  0.1586663 ,  0.22213281,  0.28559933,
        0.34906585,  0.41253237,  0.47599889,  0.53946541,  0.60293192,
        0.66639844,  0.72986496,  0.79333148,  0.856798  ,  0.92026451,
        0.98373103,  1.04719755,  1.11066407,  1.17413059,  1.23759711,
        1.30106362,  1.36453014,  1.42799666,  1.49146318,  1.5549297 ,
        1.61839622,  1.68186273,  1.74532925,  1.80879577,  1.87226229,
        1.93572881,  1.99919533,  2.06266184,  2.12612836,  2.18959488,
        2.2530614 ,  2.31652792,  2.37999443,  2.44346095,  2.50692747,
        2.57039399,  2.63386051,  2.69732703,  2.76079354,  2.82426006,
        2.88772658,  2.9511931 ,  3.01465962,  3.07812614,  3.14159265])

### The diag function:

The `np.diag()` function can be used to create a matrix and populate it with a given vector along a desired diagonal.

In [ ]:
# a diagonal matrix
np.diag([1,2,3])

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

In [12]:
# diagonal with offset from the main diagonal
np.diag([1,2,3], k=-2)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0]])

With the diag function we can also extract the diagonal and subdiagonals of an array:

In [18]:
A = np.random.rand(3,3)
A
print(A)

[[0.08610271 0.29451689 0.02650646]
 [0.06088542 0.00740336 0.68035504]
 [0.23308112 0.87217733 0.1209702 ]]

In [19]:
np.diag(A)

array([0.08610271, 0.00740336, 0.1209702 ])

In [24]:
print(np.diag(A, k=-1))
print(np.diag(A,k=1))

[0.06088542 0.87217733]
[0.29451689 0.68035504]

### Arrays of zeros and ones

Homogeneous arrays (where all the values are the same) of any size and shape can be easily created.

In [25]:
np.zeros(4)

array([0., 0., 0., 0.])

In [ ]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [26]:
np.ones(4)

array([1., 1., 1., 1.])

In [34]:
np.ones((10,10))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

We can combine multiple functions to create more complex arrays.

In [ ]:
#Diagonal matrix with ones on the superdiagonal
np.diag(np.ones(3), k=2)

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
#Diagonal matrix with twos on the subdiagonal
np.diag(2 * np.ones(3), k=-2)

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [2., 0., 0., 0., 0.],
       [0., 2., 0., 0., 0.],
       [0., 0., 2., 0., 0.]])

### Exercise 03:

Prepare a $7 \times 7$ matrix with fixed numbers ($5$) on the $2^{nd}$ superdiagonal and subdiagonal.

In [36]:
np.diag(5 * np.ones(7), k=2) + np.diag(5 * np.ones(7), k=-2)

array([[0., 0., 5., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 5., 0., 0., 0., 0., 0.],
       [5., 0., 0., 0., 5., 0., 0., 0., 0.],
       [0., 5., 0., 0., 0., 5., 0., 0., 0.],
       [0., 0., 5., 0., 0., 0., 5., 0., 0.],
       [0., 0., 0., 5., 0., 0., 0., 5., 0.],
       [0., 0., 0., 0., 5., 0., 0., 0., 5.],
       [0., 0., 0., 0., 0., 5., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 5., 0., 0.]])

## Manipulating arrays

### Indexing

We can index elements in an array using square brackets and indices:

In [ ]:
v = np.random.random(10) # 10 random numbers from a uniform distribution in [0,1]
print(v)
# v is a vector, and has only one dimension, taking one index
v[0]

[0.39796982 0.97571643 0.14047112 0.36550337 0.19483888 0.68575146
 0.57990971 0.85476018 0.01678117 0.39794892]

0.3979698156787721

In [ ]:
M = np.random.random((4,4))  # M is a 4 X 4 matrix, or a 2 dimensional array, taking two indices
print(M)

M[1,1]

[[0.8187199  0.65338288 0.33229777 0.81532183]
 [0.555501   0.16744827 0.43188729 0.70565032]
 [0.28648923 0.4375707  0.16593807 0.55852771]
 [0.17304955 0.66272481 0.30567052 0.94329551]]

0.16744826663043788

If we omit an index of a multidimensional array it returns the whole row (or, in general, a N-1 dimensional array)

In [ ]:
M

array([[0.8187199 , 0.65338288, 0.33229777, 0.81532183],
       [0.555501  , 0.16744827, 0.43188729, 0.70565032],
       [0.28648923, 0.4375707 , 0.16593807, 0.55852771],
       [0.17304955, 0.66272481, 0.30567052, 0.94329551]])

In [ ]:
M[1]

array([0.555501  , 0.16744827, 0.43188729, 0.70565032])

The same thing can be achieved with using `:` instead of an index:

In [ ]:
M[1,:] # row 1

array([0.555501  , 0.16744827, 0.43188729, 0.70565032])

In [ ]:
M[:,1] # column 1

array([0.65338288, 0.16744827, 0.4375707 , 0.66272481])

We can assign new values to elements in an array using indexing:

In [ ]:
M[0,0] = 1

In [ ]:
M

array([[1.        , 0.65338288, 0.33229777, 0.81532183],
       [0.555501  , 0.16744827, 0.43188729, 0.70565032],
       [0.28648923, 0.4375707 , 0.16593807, 0.55852771],
       [0.17304955, 0.66272481, 0.30567052, 0.94329551]])

In [ ]:
# also works for rows and columns
M[1,:] = 0
M[:,2] = -1

In [ ]:
M

array([[ 1.        ,  0.65338288, -1.        ,  0.81532183],
       [ 0.        ,  0.        , -1.        ,  0.        ],
       [ 0.28648923,  0.4375707 , -1.        ,  0.55852771],
       [ 0.17304955,  0.66272481, -1.        ,  0.94329551]])

### Index slicing

Index slicing is the technical name for the syntax `M[lower:upper:step]` to extract part of an array:

In [ ]:
A = np.array([1,2,3,4,5])
A

array([1, 2, 3, 4, 5])

In [ ]:
A[1:3]

array([2, 3])

Array slices are *mutable*: if they are assigned a new value the original array from which the slice was extracted is modified:

In [ ]:
A[1:3] = [-2,-3]

A

array([ 1, -2, -3,  4,  5])

We can omit any of the three parameters in `M[lower:upper:step]`:

In [ ]:
A[::] # lower, upper, step all take the default values

array([ 1, -2, -3,  4,  5])

In [ ]:
A[::2] # step is 2, lower and upper defaults to the beginning and end of the array

array([ 1, -3,  5])

In [ ]:
A[:3] # first three elements

array([ 1, -2, -3])

In [ ]:
A[3:] # elements from index 3

array([4, 5])

Negative indices counts from the end of the array (positive index from the begining):

In [ ]:
A = np.array([1,2,3,4,5])

In [ ]:
A[-1] # the last element in the array

5

In [ ]:
A[-3:] # the last three elements

array([3, 4, 5])

Index slicing works exactly the same way for multidimensional arrays:

In [ ]:
A = np.array([[n+m*10 for n in range(5)] for m in range(5)])

A

array([[ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34],
       [40, 41, 42, 43, 44]])

In [ ]:
# a block from the original array
A[1:4, 1:4]

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [ ]:
# strides
A[::2, ::2]

array([[ 0,  2,  4],
       [20, 22, 24],
       [40, 42, 44]])

#### An important point to remember
So, array slices work more-or-less like slices of python lists or strings. There is, however, one key difference.

With lists (or strings, tuples), each slice is a copy. However, slices of `NumPy` arrays are different. These slices are actually **views** on the original array. `Numpy` is designed to be memory-efficient and does not make unnecessary copies.

What this means is that changing the slice of an array **actually changes** the original array.

In [ ]:
G = np.array([[n+m*10 for n in range(5)] for m in range(5)])
print(G)

G[:,1] = np.arange(5) #I changed the second column of G by taking the slice of the second column and assigning it a new value
print(G) #The original array G has been modified

[[ 0  1  2  3  4]
 [10 11 12 13 14]
 [20 21 22 23 24]
 [30 31 32 33 34]
 [40 41 42 43 44]]
[[ 0  0  2  3  4]
 [10  1 12 13 14]
 [20  2 22 23 24]
 [30  3 32 33 34]
 [40  4 42 43 44]]

In [ ]:
y = G[2] #y is a slice consisting of the third row of G

print(y)

y[2] = 21347 #I changed the third element of y to 21347

print(y) #The slice y has been modified

print(G) #The original array G has ALSO been modified

[   20     2 21347    23    24]
[   20     2 21347    23    24]
[[    0     0     2     3     4]
 [   10     1    12    13    14]
 [   20     2 21347    23    24]
 [   30     3    32    33    34]
 [   40     4    42    43    44]]

If you want to make a copy of an array in order to fiddle with it without damaging the original data, you can use the `copy()` method.

In [ ]:
G = np.array([[n+m*10 for n in range(5)] for m in range(5)])
print(G)

H = G.copy() #This is a COPY of the array G. A new array, with a new memory address, has been created.

H[1] = np.arange(5, 10) #I changed the second row of H by taking the slice of the second row and assigning it a new value
print(H) #The array H has been modified

print(G) #The original array G has NOT been modified

[[ 0  1  2  3  4]
 [10 11 12 13 14]
 [20 21 22 23 24]
 [30 31 32 33 34]
 [40 41 42 43 44]]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [20 21 22 23 24]
 [30 31 32 33 34]
 [40 41 42 43 44]]
[[ 0  1  2  3  4]
 [10 11 12 13 14]
 [20 21 22 23 24]
 [30 31 32 33 34]
 [40 41 42 43 44]]

Here's something interesting. We can use index slicing to extract diagonals and anti-diagonals of a matrix.

In [ ]:
A = np.random.rand(5,5)
A

array([[0.23739847, 0.73347351, 0.12733749, 0.33997725, 0.77604993],
       [0.88018944, 0.5973701 , 0.20135709, 0.42591759, 0.22129381],
       [0.40073728, 0.75331752, 0.77766081, 0.98397582, 0.72918257],
       [0.90166093, 0.46368833, 0.95693924, 0.16777689, 0.23720114],
       [0.47464523, 0.08948455, 0.35870972, 0.84836818, 0.31748749]])

In [ ]:
#Extract diagonal
A[::-1,::-1]

array([[0.31748749, 0.84836818, 0.35870972, 0.08948455, 0.47464523],
       [0.23720114, 0.16777689, 0.95693924, 0.46368833, 0.90166093],
       [0.72918257, 0.98397582, 0.77766081, 0.75331752, 0.40073728],
       [0.22129381, 0.42591759, 0.20135709, 0.5973701 , 0.88018944],
       [0.77604993, 0.33997725, 0.12733749, 0.73347351, 0.23739847]])

**Fancy indexing** is the name for when an array or list is used in-place of an index:

In [ ]:
row_indices = [1, 2, 3]
A[row_indices]

array([[10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24],
       [30, 31, 32, 33, 34]])

In [ ]:
col_indices = [1, 2, -1] # remember, index -1 means the last element
A[row_indices, col_indices]

array([11, 22, 34])

### Exercise 04:

Execute the cell below to create the $3 \times 4 \times 4$ array named 'data', which is an array of three $4\times 4$ matrices.

In [ ]:
data = np.array([[[ 1.,  2.,  3.,  4.],
                [ 5.,  6.,  7.,  8.],
                [ 9., 10., 11., 12.],
                [13., 14., 15., 16.]],

                [[17., 18., 19., 20.],
                [21., 22., 23., 24.],
                [25., 26., 27., 28.],
                [29., 30., 31., 32.]],

                [[33., 34., 35., 36.],
                [37., 38., 39., 40.],
                [41., 42., 43., 44.],
                [45., 46., 47., 48.]]])

Now, index or slice this array to obtain the following:

1. $20.0$
2. The array $\left[9.10,11,12\right]$
3. The following square matrix
   \begin{pmatrix}
   33 & 34 & 35 & 36\\
   37 & 38 & 39 & 40\\
   41 & 42 & 43 & 44\\
   45 & 46 & 47 & 48
   \end{pmatrix}
4. The following sub-matrix
   \begin{pmatrix}
   18 & 19 \\
   22 & 23
   \end{pmatrix}

## Linear Algebra with arrays
As we have seen above, **vectorizing code** is the key to writing efficient numerical calculation with Python/Numpy. That means that as much as possible of a program should be formulated in terms of matrix and vector operations, like matrix-matrix multiplication.

### Scalar-array operations

We can use the usual arithmetic operators to multiply, add, subtract, and divide arrays with scalar numbers.

In [ ]:
v1 = np.arange(0, 5)
v1

array([0, 1, 2, 3, 4])

In [ ]:
v1 * 2

array([0, 2, 4, 6, 8])

In [ ]:
v1 + 2

array([2, 3, 4, 5, 6])

In [ ]:
print(A)
A * 2, A + 2

[[ 0  1  2  3  4]
 [10 11 12 13 14]
 [20 21 22 23 24]
 [30 31 32 33 34]
 [40 41 42 43 44]]

(array([[ 0,  2,  4,  6,  8],
        [20, 22, 24, 26, 28],
        [40, 42, 44, 46, 48],
        [60, 62, 64, 66, 68],
        [80, 82, 84, 86, 88]]),
 array([[ 2,  3,  4,  5,  6],
        [12, 13, 14, 15, 16],
        [22, 23, 24, 25, 26],
        [32, 33, 34, 35, 36],
        [42, 43, 44, 45, 46]]))

### Element-wise array-array operations

When we add, subtract, multiply and divide arrays with each other, the default behaviour is **element-wise** operations:

In [ ]:
print(A)
A * A # element-wise multiplication

[[ 0  1  2  3  4]
 [10 11 12 13 14]
 [20 21 22 23 24]
 [30 31 32 33 34]
 [40 41 42 43 44]]

array([[   0,    1,    4,    9,   16],
       [ 100,  121,  144,  169,  196],
       [ 400,  441,  484,  529,  576],
       [ 900,  961, 1024, 1089, 1156],
       [1600, 1681, 1764, 1849, 1936]])

In [ ]:
print(v1)
v1 * v1

[0 1 2 3 4]

array([ 0,  1,  4,  9, 16])

If we multiply arrays with compatible shapes, we get an element-wise multiplication of each row:

In [ ]:
A.shape, v1.shape

((5, 5), (5,))

In [ ]:
A * v1

array([[  0,   1,   4,   9,  16],
       [  0,  11,  24,  39,  56],
       [  0,  21,  44,  69,  96],
       [  0,  31,  64,  99, 136],
       [  0,  41,  84, 129, 176]])

### Matrix algebra

What about matrix mutiplication? There are many ways. The simplest way is to use the `@` idiom, which applies a matrix-matrix, matrix-vector, or inner vector multiplication to its two arguments:

In [ ]:
A @ A # Matrix-Matrix product

array([[ 300,  310,  320,  330,  340],
       [1300, 1360, 1420, 1480, 1540],
       [2300, 2410, 2520, 2630, 2740],
       [3300, 3460, 3620, 3780, 3940],
       [4300, 4510, 4720, 4930, 5140]])

In [ ]:
A @ v1 # Matrix-Vector product

array([ 30, 130, 230, 330, 430])

In [ ]:
v1 @ v1 # Inner Product (Real vectors)

30

In [ ]:
vc = np.array([0 + 1.j, 1 + 2.j, 4 + 3.j, 1 + 5.j, 0])
vc.conjugate() @ vc

(57+0j)

In [ ]:
vc + A @ v1

array([ 30.+1.j, 131.+2.j, 234.+3.j, 331.+5.j, 430.+0.j])

The transpose of an array can be obtained with the `.T` method.

In [ ]:
A= np.arange(25).reshape(5,5) + (1j) * np.arange(25, 50).reshape(5,5)
print(A)

[[ 0.+25.j  1.+26.j  2.+27.j  3.+28.j  4.+29.j]
 [ 5.+30.j  6.+31.j  7.+32.j  8.+33.j  9.+34.j]
 [10.+35.j 11.+36.j 12.+37.j 13.+38.j 14.+39.j]
 [15.+40.j 16.+41.j 17.+42.j 18.+43.j 19.+44.j]
 [20.+45.j 21.+46.j 22.+47.j 23.+48.j 24.+49.j]]

In [ ]:
B = A.T
print(B)

[[ 0.+25.j  5.+30.j 10.+35.j 15.+40.j 20.+45.j]
 [ 1.+26.j  6.+31.j 11.+36.j 16.+41.j 21.+46.j]
 [ 2.+27.j  7.+32.j 12.+37.j 17.+42.j 22.+47.j]
 [ 3.+28.j  8.+33.j 13.+38.j 18.+43.j 23.+48.j]
 [ 4.+29.j  9.+34.j 14.+39.j 19.+44.j 24.+49.j]]

To obtain the Hermitian conjugate of an array, simply transpose it and obtain the complex conjugate

In [ ]:
A_dagger = A.T.conj()
print(A_dagger)

[[ 0.-25.j  5.-30.j 10.-35.j 15.-40.j 20.-45.j]
 [ 1.-26.j  6.-31.j 11.-36.j 16.-41.j 21.-46.j]
 [ 2.-27.j  7.-32.j 12.-37.j 17.-42.j 22.-47.j]
 [ 3.-28.j  8.-33.j 13.-38.j 18.-43.j 23.-48.j]
 [ 4.-29.j  9.-34.j 14.-39.j 19.-44.j 24.-49.j]]

### Exercise 05:
1. Use NumPy to create the three Pauli matrices $\sigma_x, \sigma_y, \sigma_z$ and show that the commutation relations $\left[\sigma_x, \sigma_y\right] = i \sigma_z$ and $\left[\sigma_z, \sigma_y\right] = -i \sigma_x$, hold true.
2. Create the following matrix and vector and multiply them in the usual matrix-vector way.
\begin{align*}
A & = \begin{pmatrix}
0 & 1 & 0 & 0\\
1 & 0 & 0 & 0\\
0 & 0 & 0 & 1\\
0 & 0 & 1 & 0
\end{pmatrix}\\
\vert{v}\rangle &= \begin{pmatrix}
1\\
-1\\
1\\
-1
\end{pmatrix}
\end{align*}
3. If a unitary transformation $U$ is given by
\begin{pmatrix}
0 & 0 & 0 & 1\\
0 & 0 & -1 & 0\\
0 & -1 & 0 & 0\\
1 & 0 & 0 & 0
\end{pmatrix},
then, compute the transformed matrix $A^\prime = UAU^T$ and vector $\vert{v^\prime}\rangle = U \vert{v}\rangle$. Show that $A^\prime\vert{v^\prime}\rangle = U\left(A\vert{v}\rangle\right)$.

### Reshaping arrays
Arrays can be reshaped with the new shape supplied as a tuple to the `.reshape` method. For instance, a $4 \times 4$ array can be reshaped into a $8 \times 2$ array as follows

In [ ]:
A = np.random.random((4,4))
A

array([[0.66190534, 0.91136482, 0.20079742, 0.36789149],
       [0.0690701 , 0.04662735, 0.81528806, 0.1804445 ],
       [0.58777082, 0.39515522, 0.17799737, 0.78331803],
       [0.40864391, 0.79105166, 0.63214028, 0.69704231]])

In [ ]:
B = A.reshape(8,2)
B

array([[0.66190534, 0.91136482],
       [0.20079742, 0.36789149],
       [0.0690701 , 0.04662735],
       [0.81528806, 0.1804445 ],
       [0.58777082, 0.39515522],
       [0.17799737, 0.78331803],
       [0.40864391, 0.79105166],
       [0.63214028, 0.69704231]])

In [ ]:
C = A.reshape(2,8)
C

array([[0.66190534, 0.91136482, 0.20079742, 0.36789149, 0.0690701 ,
        0.04662735, 0.81528806, 0.1804445 ],
       [0.58777082, 0.39515522, 0.17799737, 0.78331803, 0.40864391,
        0.79105166, 0.63214028, 0.69704231]])

Arrays of any shape can be flattened to vectors in row-major order.

In [ ]:
V = A.flatten()
V

array([0.66190534, 0.91136482, 0.20079742, 0.36789149, 0.0690701 ,
       0.04662735, 0.81528806, 0.1804445 , 0.58777082, 0.39515522,
       0.17799737, 0.78331803, 0.40864391, 0.79105166, 0.63214028,
       0.69704231])

### Computations on arrays

NumPy has special functions that can perform computations on arrays to yield numbers.

In [ ]:
a = np.arange(1, 6)
a

array([1, 2, 3, 4, 5])

In [ ]:
# Sums over all elements
np.sum(a)

15

In [ ]:
# Multiplies all elements
np.prod(a)

120

These can be combined on the fly with scalar and array operations

In [ ]:
print(a+1)
np.sum(a+1)

[2 3 4 5 6]

20

In [ ]:
a = np.array([1,2,3,2,1])
b = np.array([2,3,4,5,4])

print(a @ b)
np.sum(a * b)

34

34

You can also perform operations on array slices. For instance:

In [ ]:
M = np.arange(1, 10).reshape(3,3)
display(M)

display(M[1:3, 1:3])
s1 = np.sum(M[1:3, 1:3])
display(s1)

display(np.diag(M))
s2 = np.sum(np.diag(M))
display(s2)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

array([[5, 6],
       [8, 9]])

28

array([1, 5, 9])

15

In [ ]:
# Averages (mean) and standard deviations (std) can also me computed
a = np.random.rand(4)
display(a)
display(np.mean(a))
display(np.std(a))

array([0.16354624, 0.5589451 , 0.74464038, 0.03487922])

0.375502734852901

0.28760373511116877

In [ ]:
# Note that random matrices of any shape can be created

a = np.random.rand(3,3)
display(a)

array([[0.9634749 , 0.71714948, 0.5249472 ],
       [0.40292622, 0.39014927, 0.15456273],
       [0.39922343, 0.5076424 , 0.57344493]])

In [ ]:
# A random array with samples chosen from a Gaussian (Normal) distribution should yield close to zero mean and unit standard deviation
a = np.random.normal(size=10000)
a

array([ 0.99856939, -0.27526011, -1.05217683, ..., -0.40203312,
        0.63862949, -0.4877782 ])

In [ ]:
np.mean(a), np.std(a)

(0.0036212158919876132, 0.9945376451413487)

Finally, there are NumPy functions for computing determinants and traces of matrices. The determinant function is in the `np.linalg` submodule.

In [ ]:
A = np.array([[1,2],
              [3,4]])

np.linalg.det(A)

-2.0000000000000004

In [ ]:
np.trace(A)

5

### Exercise 06:

1. Use the `np.sum()` function to demonstrate the following relation for $N=5, 10, 20$
   \begin{equation*}
   \sum^N_{n=1} n^2 = \frac{1}{6}\;N\left(N+1\right)\left(2N+1\right)
   \end{equation*}
2. Create two random $5\times 5$ matrices $A,B$ and show that $\rm{Tr}\left[AB\right] = \rm{Tr}\left[BA\right]$.